extends layout

block content
  p Water using simulator
  h3(id="basicUsage") 00:00:00
  input(type="button", value="Simulate", id="simulateBtn")
  input(type="button", value="Stop", id="stopBtn")
  div
    p(id="result")
  script(src="https://code.jquery.com/jquery-1.12.4.min.js")
  script(src="javascripts/timer.js")
  script(src="javascripts/simulate.js")
  
